<% provide(:title, "About")%>
<div class="row"><div class="col-sm-12 sectionHeader"><h1>About</h1></div></div>

  <blockquote>
  <header>What is it?</header>
<p>Bettr is goal setting application or something</p>
  </blockquote> 


