<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
            <section class="stats">
        <%= render 'shared/statsBet' %>
      </section>

      <section class="bet_form">
        <%= render 'shared/bet_form' %>
      </section>
    </aside>

  </div>
<% else %>
    <div class="center jumbotron">
        <h1>Welcome to Bettr</h1>
        <%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  <div class="row"><div class="col-sm-12 sectionHeader"><h1>Reviews</h1></div></div>

  <%
=begin%>
 <blockquote>
  <p>"Bettr is the peak of software engineering"</p>
  <footer>Lucas</footer>
  </blockquote> 
  
  <blockquote>
  <p>"Bettr is a must for modern influencers looking to make a real impact on a fake platform"</p>
  <footer>test_user_12</footer>
  </blockquote>

  <blockquote>
    <p>"Don't be sorry, be bettr"</p>
  <footer>paid actor</footer>
  </blockquote>
   
<%
=end%>



<% end %>