 <template>
    
 
    <v-main class="neutral">

    
      <v-container
        fluid
        class="fill-height"
      >
        <v-row
          justify="center"
          align="center"
        >
          <v-col>
          <router-view></router-view>

          </v-col>
        </v-row>
      </v-container>
  
    </v-main>

 
</template>

<script>


  // export default {

  //   props: {
  //     source: String,
  //   },
  //   data: () => ({
  //     drawer: null,
  //     items: [
  //       { icon: 'add', text: 'Make a bet' },
  //       { icon: 'touch_app', text: 'Find new bets' },
  //       { icon: 'touch_app', text: 'View your current bets' },
  //       { divider: true },
  //       { icon: 'lightbulb_outline', text: 'About' },
  //       { divider: true },
  //       { icon: 'settings', text: 'Profile' },
  //       { icon: 'settings', text: 'Sign-in' },
  //       { icon: 'settings', text: 'Sign-out' }
  //     ],
  //   }),
  // }
</script>


<style>
#keep .v-navigation-drawer__border {
  display: none
}
</style>