<template>
  <v-footer app
  color="neutral">
    
    <v-spacer></v-spacer>
    <div>by Lucas Crocker, Jacob Crocker, and Sam Dewhurst &copy; {{ new Date().getFullYear() }}</div>
  </v-footer>
</template>

<script>
export default {}
</script>