<template>
<div>
<v-app-bar
      app
      clipped-left
      color="primary"
    >
  <v-img
    class="mx-2"
    src="https://i.imgur.com/TMXEkt0.png" 
    max-height="40"
    max-width="40"
    contain
  ></v-img>
    
      <v-app-bar-nav-icon color="accent1" @click="drawer = !drawer"></v-app-bar-nav-icon>
      <span class="title ml-3 mr-5 secondary--text" >bettr&nbsp;</span>
      <v-text-field
        solo-inverted
        flat
        hide-details
        label="Search"
        prepend-inner-icon="search"
      ></v-text-field>

      <v-spacer></v-spacer>
    </v-app-bar>


    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
      color="primary"
      value="hidden"
    >
      <v-list
        dense
        class="primary"
      >
        <template v-for="(item, i) in items">

          <v-divider
            v-if="item.divider"
            :key="i"
            dark
            class="my-4"
          ></v-divider>
          <v-list-item
            v-else
            :key="i"
            link
            :to="item.link"
          >
            <v-list-item-action>
              <v-icon color="accent1">{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="secondary--text">
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
          <v-list-item
            @click="logout"
          >
            <v-list-item-action>
              <v-icon color="accent1"> settings </v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="secondary--text">
                Log-out
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
      </v-list>
    </v-navigation-drawer>
    </div>
</template>

<script>
  export default {
    props: {
      source: String,
    },
    data: () => ({
      drawer: null,
      items: [
        { icon: 'add', text: 'Make a bet', link: '/bet/new' },
        { icon: 'touch_app', text: 'Find new bets', link: '/bets' },
        { icon: 'home', text: 'Home', link: '/home' },
        { icon: 'person', text: 'View users', link: '/users' },
        { divider: true },
        { icon: 'lightbulb_outline', text: 'About', link: '/about' },
        { icon: 'phone', text: 'Contact us', link: '/contact' },
        { icon: 'help', text: 'Help', link: '/help' },
        { divider: true },
        { icon: 'settings', text: 'Edit profile', link: '/user/edit' },
        { icon: 'settings', text: 'Log-in', link: '/login' },
        { icon: 'settings', text: 'Sign up', link: '/signup' }
      ],
    }),
    methods: {
      logout () {
        const self = this
        this.axios.get("sessions/destroy", {
                headers: {
                    "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content'),
                    "Content-Type": "application/json",
                }
            })
            .then(function (response) {
                console.log(response.data);
                self.$store.dispatch('saveGlobalUserAction', {})
                self.$router.push({ path: '/login' })
            })
            .catch(function (error) {
                console.log("Dis da error: ");
                console.log(error.error);
                console.log('Error', error.message);
                
                console.log(error.response.data);

            });
      }
    }
  }
</script>

<style>
#keep .v-navigation-drawer__border {
  display: none
}
</style>