<h1>Sample App</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to the Sample App! Click on the link below to activate your account:
</p>
<a href="http://localhost:3000/#/account_activations/<%= @user.activation_token %>/edit?email=<%= URI.encode_www_form_component(@user.email) %>">Activate</a>

The following url doesnt work, and the above likely needs to be reset to the server. I'm not a fucking god, so just deal with it.
<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
