<% provide(:title, "Update Bet Progress") %>
<h1>Update your progress for this bet</h1>

<div class="row">
Bet title:
<%= @bet.title %>
Contract progress:
<%= @contract.progress %>
<%= debug @bet %>
Contract prog ress:
<%= debug @contract %>
<%
=begin%>
 <%= @contract.progress %> 
<%
=end%>


  <%
=begin%>
 <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @followedBet, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :progress %>
      <%= f.number_field :progress, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div> 
<%
=end%>
</div>