<li id="bet-<%= bet.id %>">
  <h2 class="title"><%= link_to bet.title, bet %></h2>
    <span class="user"><%= link_to bet.user.name, bet.user %></span>
  <%
=begin%>
 <%= render partial: 'bets/followBet_form', locals: {bet: bet} if logged_in? %> 
<%
=end%>


  <span><%= bet.verb %> <%= bet.benchmark %>
  <% if bet.moreOrLess == 1%>
   or more 
  <% elsif bet.moreOrLess == -1%>
   or less
  <% else %>
  <% end %>
  
  <%= bet.unit %> by 
  <%= time_ago_in_words(bet.dateEnd) %> from now

  
  </span>
  <br>
  <span class="">Bet start date: <%= bet.dateStart%></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(bet.created_at) %> ago.

  </span>
</li>