<%= form_with(model: current_user.contracts.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :followedBet_id, bet.id, autocomplete: "off" %></div>
  <%= f.submit "Follow Bet", class: "btn btn-primary" %>
<% end %>