  <div id="follow_form">
  bet title: <h2 class="title"><%= bet.title %></h2>
  <% if current_user.followingBet?(bet) %>
    <%= render partial: 'bets/unfollowBet', locals: {bet: bet} %>
  <% else %>
    <%= render partial: 'bets/followBet', locals: {bet: bet} %>
  <% end %>
  </div>
