  <div id="show_followBet_form">

  <% if current_user.followingBet?(@bet) %>
    <%= render partial: 'bets/show_unfollowBet' %>
  <% else %>
    <%= render partial: 'bets/show_followBet' %>
  <% end %>
  </div>
