<%= form_with(model: current_user.contracts.find_by(followedBet_id: @bet.id),
             html: { method: :delete, autocomplete: "off" }, remote: true) do |f| %>
  <%= f.submit "Unfollow bet", class: "btn" %>
<% end %>