<%= provide(:title, @bet.title) %>
<li id="bet-<%= @bet.id %>">

  <span class="user"><%= link_to @bet.user.name, @bet.user %></span>
  <h2 class="title"><%= link_to @bet.title, @bet %></h2>
  <span><%= @bet.verb %> <%= @bet.benchmark %>
  <% if @bet.moreOrLess == 1%>
   or more 
  <% elsif @bet.moreOrLess == -1%>
   or less
  <% else %>
  <% end %>
  
  <%= @bet.unit %> by 
  <%= time_ago_in_words(@bet.dateEnd) %> from now

  
  </span>
  <br>
  <span class="">Bet start date: <%= @bet.dateStart%></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(@bet.created_at) %> ago.
  <%= render partial: 'bets/show_followBet_form' if logged_in? %>
  </span>
</li>