<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Bets:</b> <%= @user.followedBets.count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/statsBet' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @bets.any? %>
      <ul class="users follow">
        <%= render @bets %>
      </ul>
      <%= will_paginate @bets%>
    <% end %>
  </div>
</div>