<%= provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
    <section class="user_info">
        <h1>
            <%= gravatar_for @user %>
            <%= @user.name %>
        </h1>
    </section>
      <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="stats">
      <%= render 'shared/statsBet' %>
    </section>
    </aside>
  <div class="col-md-4">
    <%= render 'follow_form' if logged_in? %>

  </div>
    <div class="col-md-4">
    <% if @user.bets.any? %>
      <h3>Bets (<%= @user.bets.count %>)</h3>
      <ol class="microposts">
        <%= render @bets %>
      </ol>
      <%= will_paginate @bets %>
    <% end %>
  </div>
</div>
