<%= form_with(model: @bet, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :title, placeholder: "Title" %>
    <%= f.text_area :verb, placeholder: "Verb" %>
    <span>Increment or decrement</span>
    <%= f.check_box :incOrDec, placeholder: "IncOrDec" %>
    <%= f.number_field :benchmark, placeholder: "Benchmark for success: -1000 - 1000", in: -1000.0..1000.0, step: 1 %>
    <%= f.number_field :moreOrLess, placeholder: "Evaluation: -1, 0, 1", in: -1.0..1.0, step: 1 %>
    <%= f.text_area :unit, placeholder: "Unit" %>
    <%= f.date_field :dateStart, placeholder: "Start date YYYY-MM-DD" %>
    <%= f.date_field :dateEnd, placeholder: "End date YYYY-MM-DD" %>
  </div>
  
  <%= f.submit "Post", class: "btn btn-primary" %>

  
<% end %>
