<% @user ||= current_user %>
<div class="stats">
  <a href="<%= followedBets_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.contracts.count %>
    </strong>
    Contracts
  </a>
</div>