<template> 
    <div>
        <div>
        <h1>Hold on - activating shit</h1>
        </div>
    </div>
</template>
<script>

export default {

        computed: {
            params () {
                return {
                    id: this.$route.params.token,
                    email: this.$route.query.email,
                }
            },
        },

        created() {
            console.log("Fat fuck " + this.$route.params.token);
            // console.log("Fat fuck " + this.$route.params.email);
            console.log("Fat fuck " + this.$route.query.email);
                // let params = {id: this.id}
                let self = this;


                // this.axios.post("fuck", this.params, {
                this.axios.post("activate", this.params, {
                        headers: {
                            "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content'),
                            "Content-Type": "application/json",
                        }
                    })
                    .then(function (response) {
                        console.log(response.data);
                        // console.log("sall good");
                        self.$store.dispatch('saveGlobalUserAction', response.data)
                        console.log(JSON.stringify(self.$store.state.globalUser) + " fuckin ay bud")
                        self.$router.push({ path: '/home' })

                    })
                    .catch(function (error) {
                        console.log("Dis da error: ");
                        console.log(error.error);
                        console.log('Error', error.message);
                        console.log('Error', error.message);
                        // console.log(error.response.data);
                        console.log(self.params)
                    });  
        },

}
</script>