<template>
    <div>
        <user :user="globalUser.user"></user>
        <v-row no-gutters>
            <v-flex cols="12" lg="3" sm="3">
                <h2> Active Bets:  {{ bets.length }}</h2>
                <bets :bets="bets" :user="globalUser.user.name"></bets>
            </v-flex>
            <v-col>
                <v-card color="primary" tile>
                
                    <!-- <v-card-title>Followers: {{ followers.length }}</v-card-title> -->
                    <users :users="followers" :title="'Followers'"></users>
                    <!-- <v-card-title>Following: {{ following.length }}</v-card-title> -->
                    <users :users="following" :title="'Following'"></users>
                    <!--<v-btn outlined color=accent1 @click=" showShortFollowing = !showShortFollowing ">See all Following</v-btn> -->
        
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>

import user from "../users/show.vue";
import bet from "../bets/bet.vue";
import users from "../users/collapsindex.vue";
import bets from "../bets/index.vue";




export default {
        data: function () {
            return {
                bets: '',
                followers: '',
                following: '',
                // id: this.$store.getters.globalUser.id
                // showShortFollowers: true,
                // showShortFollowing: true,
            }
        },
    computed: {
        params () {
            return {
                user: {
                    id: this.$store.getters.globalUser.id,
                }      
            }
        },
        globalUser () {
            return {
                user: this.$store.getters.globalUser,
            }
        },
        // followersToDisplay () {
        //     if (this.showShortFollowers) {
        //         return this.followers.slice(0, 10);
        //     }
        //     else
        //         return this.followers
        // },
        // followingToDisplay () {
        //     if (this.showShortFollowing) {
        //         return this.following.slice(0, 10);
        //     }
        //     else
        //         return this.following
        // }
    },
    methods: {
            fetchBets() {
        // let params = {id: this.id}
        let self = this;
        console.log("Param: ");
        console.log( this.params);
        console.log("Fuck: ");

        this.axios.post("users/followedBets", this.params, {
                headers: {
                    "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content'),
                    "Content-Type": "application/json",
                }
            })
            .then(function (response) {
                console.log(response.data);
                self.bets = response.data;

            })
            .catch(function (error) {
                console.log('Error', error.message);
            }); 

        this.axios.post("users/followers", this.params, {
                headers: {
                    "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content'),
                    "Content-Type": "application/json",
                }
            })
            .then(function (response) {
                console.log(response.data);
                self.followers = response.data;

            })
            .catch(function (error) {
                console.log('Error', error.message);
            }); 

        this.axios.post("users/following", this.params, {
                headers: {
                    "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content'),
                    "Content-Type": "application/json",
                }
            })
            .then(function (response) {
                console.log(response.data);
                self.following = response.data;

            })
            .catch(function (error) {
                console.log('Error', error.message);
            }); 
            }
    },
  watch: {
    // whenever question changes, this function will run
    globalUser: {
        handler: function(val, oldVal) {
            this.fetchBets(); // call it in the context of your component object
        },
        deep: true
    }
  },
    created() {
            this.fetchBets()
        },
    components: {
        user: user,
        users: users,
        bets: bets,
    }
}
</script>