<template>
  <div id="app">
    <v-app >
    <bheader/>
    
      <application/>
      <bfooter/>
     
    </v-app>
  </div>
</template>

<script>
import application from "./packs/components/layouts/application.vue";
import bheader from "./packs/components/layouts/header.vue";
import bfooter from "./packs/components/layouts/footer.vue";

export default {
  data: function() {
    return {
      message: "Vuetify test"
    };
  },
  created() {
    const self = this
    this.axios.get("globalUser", {
            headers: {
                "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content'),
                "Content-Type": "application/json",
            }
        })
        .then(function (response) {
            console.log(response.data);
            console.log("^Got global user");
            // console.log("sall good");
            self.$store.dispatch('saveGlobalUserAction', response.data)
            // console.log(JSON.stringify(self.$store.state.globalUser) + " fuckin ay bud")
            // self.$router.push({ path: '/home' })
        })
        .catch(function (error) {
            console.log("Dis da error: ");
            console.log(error.error);
            console.log('Error', error.message);
            console.log('Error', error.message);
            console.log(error.response.data);

        });

  },
  components: {
    application: application,
    bheader: bheader,
    bfooter: bfooter
  }
};
</script>

<style scoped>
p {
  font-size: 2em;
  text-align: center;
}
</style>