<template>
    <v-col>
      <v-card
      outlined
      color="neutral"
      tile
      >
      <v-list-group>
        <template v-slot:activator>
            <v-card-title>{{title}}: {{users.length}}</v-card-title>
        </template>
          <user v-for="user in users" :user="user" :key="user.id"></user> 
      </v-list-group>
      </v-card>
    </v-col>
</template>

<script>

import user from "./user.vue";
  export default {
    data () {
      return {
        // users: [
        //   { name: 'Jason Oner', avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg' },
        //   { name: 'Travis Howard', avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg' },
        //   { name: 'Ali Connors', avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg' },
        //   { name: 'Cindy Baker', avatar: 'https://cdn.vuetifyjs.com/images/lists/4.jpg' },
        // ],
      }
    },
    props: [
      'users',
      'title',
    ],
    components: {
        user: user,
    }

  }
</script>