<template>
    <v-col>
        <v-card max-width="500" outlined>
            <v-list>
                <user v-for="user in users" :user="user" :key="user.id">
                </user>
            </v-list>
        </v-card>
    </v-col>
</template>

<script>

import user from "./user.vue";
  export default {
    data () {
      return {
        // users: [
        //   { name: 'Jason Oner', avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg' },
        //   { name: 'Travis Howard', avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg' },
        //   { name: 'Ali Connors', avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg' },
        //   { name: 'Cindy Baker', avatar: 'https://cdn.vuetifyjs.com/images/lists/4.jpg' },
        // ],
      }
    },
    props: [
      'users',
    ],
    components: {
        user: user,
    }

  }
</script>