<template>
    <v-form ref="user">
        <v-container fluid>
           
            <v-col cols="12" sm="6">
                <h1>Create your account</h1>
                <v-text-field 
                v-model="name" 
                :rules="nameRules" 
                :type='text' 
                name="name"
                label="Name" class="input-group--focused" 
                required>
                </v-text-field>
            </v-col>

            <v-col cols="12" sm="6">
                <v-text-field 
                v-model="email" 
                :rules="emailRules" 
                :type='text' 
                name="email"
                label="Email" class="input-group--focused" 
                required>
                </v-text-field>
            </v-col>

            <v-col cols="12" sm="6">
                <v-text-field v-model="password"
                    :append-icon="show_password ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="passwordRules"
                    :type="show_password ? 'text' : 'password'" 
                    name="password"
                    label="Password" class="input-group--focused"
                    @click:append="show_password = !show_password" 
                    required>
                </v-text-field>
            </v-col>

            <v-col cols="12" sm="6">
                <v-text-field v-model="password_confirmation"
                    :append-icon="show_password_confirmation ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[passwordRules, password_confirmation === password || 'Password confirmation and password must match']"
                    :type="show_password_confirmation ? 'text' : 'password'" 
                    name="password_confirmation"
                    label="Password Confirmation" class="input-group--focused"
                    @click:append="show_password_confirmation = !show_password_confirmation" 
                    required>
                </v-text-field>
            </v-col>

            <v-col cols="12" sm="6">
                <v-btn color="accent1" 
                class="mr-4 outline" 
                outlined 
                block 
                @click="validate">
                    Create account
                </v-btn>
                
                <v-snackbar
                    app
                    v-model="snackbar"
                    success
                    top
                    right
                    color="primary"
                    :timeout="-1"
                >
                    {{ message }}
                    <template v-slot:action="{ attrs }">
                        <v-btn
                        color="white"
                        text
                        v-bind="attrs"
                        @click="snackbar = false"
                        >
                        Close
                        </v-btn>
                    </template>
                </v-snackbar>
            </v-col>

        </v-container>
    </v-form>
</template>

<script>

    export default {
        data: () => {
            return {
                name: '',
                email: '',
                password: '',
                password_confirmation: '',
                // user: {
                //     name: '',
                //     email: '',
                //     password: '',
                //     password_confirmation: '',
                // },
                // user_params: {
                //     name: '',
                //     email: '',
                //     password: '',
                //     password_confirmation: '',
                // },
                show_password: false,
                show_password_confirmation: false,
                nameRules: [
                    v => !!v || 'Required',
                ],
                passwordRules: [
                    v => !!v || 'Required',
                    v => v.length >= 6 || 'Min 6 characters',
                ],
                emailRules: [
                    v => !!v || 'Required',
                    v => /.+@.+\..+/.test(v) || 'email must be valid',
                ],
                messages: [
                    { success: "We've sent an activation link to your email. Please click the link to activate your account." },
                    { error: "Something went wrong, please try again." }
                ],
            }
        },

        computed: {
            params () {
                return {
                    user: {
                        name: this.name,
                        email: this.email,
                        password: this.password,
                        password_confirmation: this.password_confirmation
                    }
                }
            },
        },

        methods: {
            validate() {
                if (this.$refs.user.validate()) {
                // let user_params = {
                //     name: this.user.name, 
                //     email: this.user.email, 
                //     password: this.user.password,
                //     password_confirmation: this.user.password_confirmation,
                // };
                const self = this
                this.axios.post("signup", this.params, {
                        headers: {
                            "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content'),
                            "Content-Type": "application/json",
                        }
                    })
                    .then(function (response) {
                        console.log(response.data);
                        // console.log("sall good");
                        //self.$store.dispatch('saveGlobalUserAction', response.data)
                        self.$router.push({ path: '/activationPage' })
                    })
                    .catch(function (error) {
                        console.log("Dis da error: ");
                        console.log(error.error);
                        console.log('Error', error.message);
                        console.log('Error', error.message);
                        console.log(error.response.data);
                        console.log(this.params)
                    });
                }
            },
            reset() {
                this.$refs.session.reset()
            },
            resetValidation() {
                this.$refs.session.resetValidation()
            },
        },
    };
</script>