<template>
    <div id="user">
    <v-row fluid>
        <v-col sm="7">
           <!-- <v-avatar
            class="profile"
            size="164"
            tile
            >
                <img
                v-bind:src="user.avatar"
                >
            </v-avatar> -->
            <span class="text-h4">{{ user.name }}</span>
        </v-col>
    <v-col cols="12" sm="3">
      <v-container fill-height fluid>
        <v-row align="center"
            justify="left">
            <v-col>
              <template v-if="following">
                <v-btn block @click="unfollow">Unfollow</v-btn>
              </template>
              <template v-else>
                <v-btn block @click="follow">Follow</v-btn>
              </template>
            </v-col>
        </v-row>
      </v-container>
    </v-col>
<!-- 
        <v-col>
            <span class="text-h6"> Bets: {{ bets.count }} </span>
            <v-container >
            <bets :bets="bets" :user="user.name"></bets>
            </v-container>
        </v-col>
        -->
    </v-row>
    </div>
</template>

<script>
import bets from "../bets/index.vue";

export default {
    data: () => ({
      following: false,
    }),
    props: [
        'user',
        'bets',
    ],
    computed: {
        globalUser () {
            return {
                user: this.$store.getters.globalUser,
            }

        },
        params () {
          return {
              id: this.user.id 
          }
        },
    },
    components: {
        bets: bets,

    },
    methods: {
      follow() {this.APIcall("followUser")},
      unfollow() {this.APIcall("unfollowUser")},
      checkIfFollowing() {this.APIcall("checkIfFollowingUser")},
      APIcall(route) {
          // if (this.$refs.user.validate()) {
          console.log("Params: ")
          console.log(this.params)
          const self = this
          this.axios.post(route, this.params, {
                  headers: {
                      "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content'),
                      "Content-Type": "application/json",
                  }
              })
              .then(function (response) {
                  console.log(response.data);
                  if(route == "checkIfFollowingUser") {

                    self.following = response.data;
                  }
                  else {
                    self.checkIfFollowing();
                  }
                  
                  // console.log("sall good");
                  //self.$store.dispatch('saveGlobalUserAction', response.data)
                  // self.$router.push({ path: '/activationPage' })
              })
              .catch(function (error) {
                  console.log("Dis da error: ");
                  console.log(error.error);
                  console.log('Error', error.message);
                  console.log(error.response.data);
                  // console.log(this.params)
              });
          // }
      }
    },
    // watch: {
    // // whenever question changes, this function will run
    //   globalUser: {
    //       handler: function(val, oldVal) {
    //           this.checkIfFollowing(); // call it in the context of your component object
    //       },
    //       deep: true
    //   }
    // },
    created() {
      this.checkIfFollowing()
    },
  }

</script>