<template>
    <div id="userWrapper">
    <user :user="this.$route.query"></user>
        <v-row no-gutters>

                <v-flex cols="12" sm="4">
            <h2>Bets:</h2>
                <bets :bets="bets" :user="this.$route.query.name"></bets>
            </v-flex>
            <v-flex cols="12" sm="3">
            <h2>Followers:</h2>
                <users :users="followers"></users>
            </v-flex>
            <v-flex cols="12" sm="3">
            <h2>Following:</h2>
                <users :users="following"></users>
            </v-flex>
        </v-row>

    </div>
</template>

<script>
import user from "./show.vue"
import users from "./index.vue";

import bets from "../bets/index.vue"

export default {
    data: () => ({
        bets:'',
        followers: '',
        following: '',

    }),
    computed: {
        params () {
            return {
                user: {
                    id: this.$route.query.id,
                }      
            }
        },
    },
    created() {
            // let params = {id: this.id}
        let self = this;
        console.log("Param: ");
        console.log( this.params);
        console.log("Fuck: ");

        // this.axios.post("fuck", this.params, {
        this.axios.post("users/followedBets", this.params, {
                headers: {
                    "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content'),
                    "Content-Type": "application/json",
                }
            })
            .then(function (response) {
                console.log(response.data);
                self.bets = response.data;

            })
            .catch(function (error) {
                console.log('Error', error.message);
            });  

        this.axios.post("users/followers", this.params, {
                headers: {
                    "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content'),
                    "Content-Type": "application/json",
                }
            })
            .then(function (response) {
                console.log(response.data);
                self.followers = response.data;

            })
            .catch(function (error) {
                console.log('Error', error.message);
            }); 

        this.axios.post("users/following", this.params, {
                headers: {
                    "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content'),
                    "Content-Type": "application/json",
                }
            })
            .then(function (response) {
                console.log(response.data);
                self.following = response.data;

            })
            .catch(function (error) {
                console.log('Error', error.message);
            }); 
    },
    components: {
        user: user,
        users: users,
        bets: bets
    }
    
}
</script>