<template>
    <v-list-item :key="user.id" @click="open">

        <v-list-item-content>
            <v-list-item-title v-text="user.name"></v-list-item-title>
        </v-list-item-content>
    </v-list-item>

</template>

<script>


  export default {
    data () {
      return {

      }
    },
  methods: {
    open: function (event) {
      this.$router.push({ path: '/user/show/', query: this.user})

    }
  },
    props: [
      'user',
    ],

  }
</script>