<template>
<v-card
                    outlined
                    flat
                    hover
                     @click="open"
                     :key="bet.id" 
                     >
    <v-list-item flat three-line >

         <v-list-item-content >
            <v-list-item-title>

                {{ bet.title }} 
            </v-list-item-title>
            <v-list-item-subtitle >
                
            
            
            {{ bet.verb }} {{bet.benchmark}} <template v-if="bet.moreOrLess == 1">or more </template>
            <template v-else-if="bet.moreOrLess == -1">or less</template>
            {{ bet.unit }}
            by {{bet.dateEnd }}
            </v-list-item-subtitle>
            <p class="grey--text">Start Date: {{ bet.dateStart }} by {{ user }} </p>


        </v-list-item-content> 

    </v-list-item>
</v-card>
</template>
<script>
  export default {
        props: [
            'bet',
            'user',
        ],
    data: () => ({
      drawer: null,
    }),
    methods: {
    open: function (event) {
      this.$router.push({ path: '/bet/show/', query: {bet: this.bet, user: this.user}})

    }
  },
  }
</script>