<template>
  <v-card outlined color="neutral">
    <v-card flat color="neutral">
    <v-card-title class="secondary--text">
      <div :class="{ 'accent1--text': h.title }" class="inline">{{ bet.title }}</div>
    </v-card-title>
    <!--<v-card-subtitle>{{ bet.user.name }}</v-card-subtitle>-->
    <v-card-text class="secondary--text">
      <div :class="{ 'accent1--text': h.verb }" class="inline">{{ bet.verb }}</div> <div :class="{ 'accent1--text': h.benchmark }" class="inline">{{ bet.benchmark }}</div>
      <div :class="{ 'accent1--text': h.moreOrLess }" class="inline"><template v-if="bet.moreOrLess == 1">or more </template>
      <template v-else-if="bet.moreOrLess == -1">or less</template></div>
      <div :class="{ 'accent1--text': h.unit }" class="inline">{{ bet.unit }}</div>
      <div :class="{ 'accent1--text': h.period }" class="inline">{{ periodSelectVals[bet.period - 1].name }}</div>
      <br>
      Start Date: <div :class="{ 'accent1--text': h.dateStart }" class="inline">{{ bet.dateStart }}</div>
      , End Date: <div :class="{ 'accent1--text': h.dateEnd }" class="inline">{{ bet.dateEnd }}</div>
      
        <br>
        <div :class="{ 'accent1--text': h.mulligan }" class="inline">Allowed mulligans: {{bet.mulligan  }}</div>

    </v-card-text>
</v-card>
<v-form ref="user">
        <v-container fluid>
           <v-row >
            <v-col cols="12" sm="12"
            @mouseover="h.title = true"
                @mouseleave="h.title = false">
                
                <v-text-field 
                color="accent1"
                v-model="bet.title" 
                :type='text' 
                name="title"
                label="GIve the bet a name" class="input-group--focused" 
                required>
                </v-text-field>
                
            </v-col>
            </v-row>
            <v-row align="center"
      justify="center">
            <v-col cols="12" sm="1" 
            
                @mouseover="h.verb = true"
                @mouseleave="h.verb = false">
                
                <v-text-field
                v-model="bet.verb" 
                name="verb"
                class="input-group--focused" 
                required>
                </v-text-field>
            </v-col>
            <v-col cols="12" sm="1"
                
                @mouseover="h.benchmark = true"
                @mouseleave="h.benchmark = false">

                <v-text-field 
                v-model="bet.benchmark" 
                name="benchmark"
                class="input-group--focused" 
                required>
                </v-text-field>
            </v-col>

            <v-col cols="12" sm="2"
                @mouseover="h.moreOrLess = true"
                @mouseleave="h.moreOrLess = false">
                <v-select 
                v-model="bet.moreOrLess" 
                :items="lessOrMoreSelectVals"
                name="moreOrLess"
                class="input-group--focused" 
                item-text="name"
                item-value="id"
                required>
                </v-select>
            </v-col>
            <v-col cols="12" sm="1"
                @mouseover="h.unit = true"
                @mouseleave="h.unit = false">
                <v-text-field 
                v-model="bet.unit" 
                name="unit"
                class="input-group--focused" 
                required>
                </v-text-field>
            </v-col>
            <v-col cols="12" sm="2"
                @mouseover="h.period = true"
                @mouseleave="h.period = false">
                <v-select 
                v-model="bet.period" 
                :items="periodSelectVals"
                name="period"
                class="input-group--focused" 
                item-text="name"
                item-value="id"
                required>
                </v-select>
            </v-col>
            <v-col cols="12" sm="1" ><v-row align="center"
      justify="center" class="secondary--text">between</v-row></v-col>
            <v-col cols="12" sm="2" @mouseover="h.dateStart = true"
                @mouseleave="h.dateStart = false">
                      <v-menu v-model="menuDateStart" :close-on-content-click="false" :nudge-right="40"
                          transition="scale-transition" offset-y min-width="290px"
                >
                          <template v-slot:activator="{ on, attrs }">
                              <v-text-field v-model="bet.dateStart" prepend-icon="mdi-calendar"
                                  readonly v-bind="attrs" v-on="on"></v-text-field>
                          </template>
                          <v-date-picker v-model="bet.dateStart" @input="menuDateStart = false"></v-date-picker>
                      </v-menu>

                <!--<v-date-picker 
                v-model="bet.dateStart" 
                
                full-width
                header-color="primary"
                name="dateStart"
                label="date" class="input-group--focused" 
                required>
                </v-date-picker>-->
            </v-col>
            <v-col cols="12" sm="1"><v-row align="center"
      justify="center" class="secondary--text">and</v-row></v-col>
                <v-col cols="12" sm="2" 
                @mouseover="h.dateEnd = true"
                @mouseleave="h.dateEnd = false"> 
                    <v-menu v-model="menuDateEnd" :close-on-content-click="false" :nudge-right="40"
                          transition="scale-transition" offset-y min-width="290px">
                          <template v-slot:activator="{ on, attrs }">
                              <v-text-field v-model="bet.dateEnd" prepend-icon="mdi-calendar"
                                  readonly v-bind="attrs" v-on="on"></v-text-field>
                          </template>
                          <v-date-picker v-model="bet.dateEnd" @input="menuDateEnd = false"></v-date-picker>
                      </v-menu>
                <!--
                <v-date-picker 
                v-model="bet.dateEnd" 
                full-width
                header-color="primary"
                name="dateEnd"
                label="date" class="input-group--focused" 
                required>
                </v-date-picker>-->
            </v-col>
            </v-row>

            <v-row align="center"
      justify="center">
                <v-col cols="12" sm="10"
                @mouseover="h.mulligan = true"
                @mouseleave="h.mulligan = false">
                <v-text-field 
                v-model="bet.mulligan" 
                name="mulligan"
                label="How many mulligans would you like?"
                class="input-group--focused" 
                required>
                </v-text-field>
                </v-col>
            </v-row>
            <v-row>
            <v-col cols="12" sm="12">
                <v-btn color="accent1" 
                class="mr-4 outline" 
                outlined 
                block 
                @click="validate">
                    Submit bet
                </v-btn>

            </v-col>
            </v-row>
        </v-container>
    </v-form>
<v-card>
</v-card>
  </v-card>

</template>
<script>
  export default {

    data: () => ({
        bet: {
            title: "An example of a bet",
            verb: "Create",
            benchmark: 1,
            moreOrLess: 1,
            unit: "bets",
            period: 1,
            dateStart: new Date().toISOString().substr(0, 10),
            dateEnd: new Date().toISOString().substr(0, 10),
            mulligan: 0,


        },
        h: {
            title: false,
            verb: false,
            benchmark: false,
            moreOrLess: false,
            unit: false,
            period: false,
            dateStart: false,
            dateEnd: false,
            mulligan: false
        },
        periodSelectVals: [{id:1,name:"once a week"},{id:2,name:"twice a week"},{id:3,name:"three days a week"},
        {id:4,name:"four days a week"},{id:5,name:"five days a week"},{id:6,name:"six days a week"},
        {id:7,name:"everyday"},{id:8,name:"biweekly"},{id:9,name:"once a month"},
        
        ],
        lessOrMoreSelectVals: [{id:1,name:"or more"},{id:0,name:"exactly"},{id:-1,name:"or less"}],

        // dateSelectValues: [new Date().toISOString().substr(0, 10), new Date().toISOString().substr(0, 10)],
    }),
    computed: {
        params () {
            return {
                bet: {
                title: this.bet.title,
                verb: this.bet.verb,
                benchmark: this.bet.benchmark,
                moreOrLess: this.bet.moreOrLess,
                unit: this.bet.unit,
                period: this.bet.period,
                dateStart: this.bet.dateStart,
                dateEnd: this.bet.dateEnd,
                allowed_mulligans: this.bet.mulligan,        
                } 
            }
        },
    },
    methods: {
    hVerb: function(){
        this.h.verb = !this.h.verb;   
    },
    validate() {
        // if (this.$refs.user.validate()) {
        console.log("Params: ")
        console.log(this.params)
        const self = this
        this.axios.post("bets", this.params, {
                headers: {
                    "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content'),
                    "Content-Type": "application/json",
                }
            })
            .then(function (response) {
                console.log(response.data);
                // console.log("sall good");
                //self.$store.dispatch('saveGlobalUserAction', response.data)
                // self.$router.push({ path: '/activationPage' })
            })
            .catch(function (error) {
                console.log("Dis da error: ");
                console.log(error.error);
                console.log('Error', error.message);
                console.log(error.response.data);
                // console.log(this.params)
            });
        // }
    },
    reset() {
        this.$refs.session.reset()
    },
    resetValidation() {
        this.$refs.session.resetValidation()
    },
},
  }
</script>

<style>
.glow {
    color: orange ;
    
}
.inline {
    transition-timing-function: ease-in-out;
    transition: color .02s;
    display: inline-block;
    
}
.theme--light.v-input:not(.v-input--is-disabled) input{
  color:#fffce1;
}
.theme--light.v-select .v-select__selection--comma {
    color:#fffce1;
}
.theme--light.v-label {
    color:#fffce1;
}

.theme--light.v-icon {
    color:#fffce1;
}
</style>