  <template v-if="globalUser.user && globalUser.user.name == this.user">
  <v-form ref="user">
        <v-container fluid>

            <v-row>

            <v-col cols="12" sm="12"><h3>How many {{ bet.unit }} did you {{bet.verb}} today?</h3></v-col>
            
              <v-col cols="12" sm="3">
                <v-text-field label="Progress" v-model="contract.progress" :suffix="bet.unit" class="input-group--focused" ></v-text-field>
              </v-col>
              <v-col cols="12" sm="3">
                
                <v-text-field 
                v-model="contract.mulligan" 
                name="Mulligan used"
                label="mulligans" class="input-group--focused" 
                required>
                </v-text-field>
            </v-col>
              <v-col cols="12" sm="6">
                <v-btn color="accent1" 
                class="mr-4 outline" 
                outlined 
                block 
                @click="validate">
                    Update progress
                </v-btn>

            </v-col>
            </v-row>

        </v-container>
  </v-form>
  
   </template>
   <script>
  export default {
    props: [
        'bet',
        'user'
    ],
    data: () => ({
        contract: {
            progress: 0,
            mulligan: 0,
        },
        dateSelectValues: [new Date().toISOString().substr(0, 10), new Date().toISOString().substr(0, 10)],
    }),
    computed: {
        params () {
            return {
                contract: {
                  progress: this.contract.progress,
                  mulligan: this.contract.mulligan,
                  // followedBet_id: this.bet.id 
                },
                followedBet_id: this.bet.id 
            }
        },
    },
    methods: {
        
    validate() {
        // if (this.$refs.user.validate()) {
        console.log("Params: ")
        console.log(this.params)
        const self = this
        this.axios.post("contracts/edit", this.params, {
                headers: {
                    "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content'),
                    "Content-Type": "application/json",
                }
            })
            .then(function (response) {
                console.log(response.data);
                // console.log("sall good");
                //self.$store.dispatch('saveGlobalUserAction', response.data)
                // self.$router.push({ path: '/activationPage' })
            })
            .catch(function (error) {
                console.log("Dis da error: ");
                console.log(error.error);
                console.log('Error', error.message);
                console.log(error.response.data);
                console.log(this.params)
            });
        // }
    },
    reset() {
        this.$refs.session.reset()
    },
    resetValidation() {
        this.$refs.session.resetValidation()
    },
},
  }
</script>