<template>
    <v-col>
        <h1>Bets:</h1>
        <bets :bets="bets" color="neutral"></bets>
    </v-col>
</template>

<script>
import bets from "./index.vue";

  export default {
    data: function () {
        return {
            bets: '',
        }
    },
    created() {
            // let params = {id: this.id}
            let self = this;
            console.log("Param: ");
            console.log( this.params);
            console.log("Fuck: ");

            // this.axios.post("fuck", this.params, {
            this.axios.get("bets", {
                    headers: {
                        "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content'),
                        "Content-Type": "application/json",
                    }
                })
                .then(function (response) {
                    console.log(response.data);
                    self.bets = response.data;

                })
                .catch(function (error) {
                    console.log("Dis da error: ");
                    console.log(error.error);
                    console.log('Error', error.message);
                    console.log('Error', error.message);
                    // console.log(error.response.data);
                    console.log(self.params)
                });  
    },
    components: {
        bets: bets,
    }
  }
</script>