<template>
    <v-col>
        <v-card max-width="500" outlined>
            <v-list>
                <bet v-for="bet in bets" :key="bet.id" :bet="bet" :user="user" @click="">

                </bet>
            
            </v-list>
        </v-card>
    </v-col>
</template>

<script>

import bet from "./bet.vue";

export default {
    props: [
        'bets',
        'user',
    ],
    data: () => ({


    }),
    components: {
        bet: bet,
    }
    
}
</script>