<template>
  <v-card>
    <v-row>
      <v-col cols="12" sm="9">
        <v-card outlined>

          <v-card-title>
            {{ bet.title }}
          </v-card-title>
          <!--<v-card-subtitle>{{ bet.user.name }}</v-card-subtitle>-->
          <v-card-text>
            {{ bet.verb }} {{bet.benchmark}} <template v-if="bet.moreOrLess == 1">or more </template>
            <template v-else-if="bet.moreOrLess == -1">or less</template>
            {{ bet.unit }}
            by {{bet.dateEnd }}
            <br>
            <p class="grey--text">Start Date: {{ bet.dateStart }} by {{ user }}</p>

          </v-card-text>

      </v-card>
    </v-col>
    <v-col cols="12" sm="3">
      <v-container fill-height fluid>
        <v-row align="center"
            justify="left">
            <v-col>
              <template v-if="following">
                <v-btn block @click="unfollow">Unfollow Bet</v-btn>
              </template>
              <template v-else>
                <v-btn block @click="follow">Follow Bet</v-btn>
              </template>
            </v-col>
        </v-row>
      </v-container>
    </v-col>
  </v-row>
  <v-row>
    <template v-if="globalUser.user && following">
      <contract :bet="bet" :user="user"></contract>
    </template>
  </v-row>
</v-card>
</template>
<script>
import contract from "./contract.vue"


  export default {
    props: [
        'bet',
        'user'
    ],
    data: () => ({
      following: false,
    }),
    computed: {
        globalUser () {
            return {
                user: this.$store.getters.globalUser,
            }

        },
        params () {
          return {
              id: this.bet.id 
          }
        },
    },
    components: {
        contract: contract
    },
    methods: {
      follow() {this.APIcall("followBet")},
      unfollow() {this.APIcall("unfollowBet")},
      checkIfFollowing() {this.APIcall("checkIfFollowingBet")},
      APIcall(route) {
          // if (this.$refs.user.validate()) {
          console.log("Params: ")
          console.log(this.params)
          const self = this
          this.axios.post(route, this.params, {
                  headers: {
                      "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content'),
                      "Content-Type": "application/json",
                  }
              })
              .then(function (response) {
                  console.log(response.data);
                  if(route == "checkIfFollowingBet") {
                    self.following = response.data;
                  }
                  else {
                    console.log(route);
                    self.checkIfFollowing();
                  }
                  
                  // console.log("sall good");
                  //self.$store.dispatch('saveGlobalUserAction', response.data)
                  // self.$router.push({ path: '/activationPage' })
              })
              .catch(function (error) {
                  console.log("Dis da error: ");
                  console.log(error.error);
                  console.log('Error', error.message);
                  console.log(error.response.data);
                  // console.log(this.params)
              });
          // }
      }
    },
    // watch: {
    // // whenever question changes, this function will run
    //   globalUser: {
    //       handler: function(val, oldVal) {
    //           this.checkIfFollowing(); // call it in the context of your component object
    //       },
    //       deep: true
    //   }
    // },
    created() {
      this.checkIfFollowing()
    },
  }
</script>