<template>
    <v-form v-model="valid" ref="new_password_reset">
        <v-container fluid>
            <v-row>
                <v-col cols="12" sm="6">
                    <h1>Would you like to reset your password?</h1>
                    <v-text-field 
                    v-model="email" 
                    :rules="emailRules" 
                    label="Enter your email for password reset"
                    required>
                    </v-text-field>
                    <v-row>
                        <v-btn color="primary" class="mr-4 outline" outlined block @click="validate">
                            Submit
                        </v-btn>
                    </v-row>
                </v-col>
            </v-row>
        </v-container>
    </v-form>
</template>

<script>
    export default {
        data: () => ({
            valid: false,
            email: '',
            emailRules: [
                v => !!v,
                v => /.+@.+\..+/.test(v) || 'email must be valid',
            ],
        }),

        methods: {
            validate() {
                this.$refs.new_password_reset.validate()
            },
            resetX() {
                this.$refs.formX.reset()
            },
            resetValidation() {
                this.$refs.form.resetValidation()
            },
        },
    };
</script>



        