<%
=begin%>
 <!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <div class="container">
    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%message_type%>"><%= message %></div>
    <%end%>
    <%= javascript_pack_tag 'hello_vue' %> 
      <%= yield %>


    <%= render 'layouts/footer'%>
    <%= debug(params) if Rails.env.development? %>

    </div>
  </body>
</html> 
<%
=end%>
<!DOCTYPE html>
<html>
  <head>
    <title>RailsVuejsss</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--Google Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'main' %>
  </head>

  <body>
    <%
=begin%>
 <%= yield %> 
<%
=end%>
  </body>
</html>